body{
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size:50px ;
}
.using-border{
       
    
    border-left: 4px solid rgba(243, 0, 49, 0.425);
    

  padding:0px 30px;
    border-radius:2px;
   
}
.header{

    color:rgb(255, 127, 80);


}
.mission-2022{
    display:flex;
    padding: 10px;
    margin-bottom: 40px;
    
    
}
.first-section{
    width: 100%;
    margin: 5% 10%;
    
    
    
    
}

.first-section img{
    width: 76vh;
    border-radius: 6px;
}
.button{
    text-decoration: none;
    background-color:#ff5959;
    padding: 10px 60px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-size: 50px;
    

    
}
.button-div{
    padding-top:20px ;
}

.mission{
    background-color:#edf5f6;
    border-radius: 10px;
    padding: 30px;
    
    

}
.vission{
    background-color:#ffeeee;
    border-radius: 10px;
    padding: 30px;
    
    

}
.goals{
    background-color: #fff4d6;
    border-radius: 10px;
    padding: 30px;
    
}
.girl-projects{
    display: flex;
    margin: 50px auto;
    margin-bottom: 50px;
    /* margin-left: 110px; */
   

    background-image:url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    
    background-position: left;

}
.girls-img img{
    width: 80vh;
     /* margin-left: 200px; */
}

    

.coding-project{
    margin:0px  auto;

}
.chair-section{
    border: 2px solid;
    border-style: unset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    
}

footer{
  
    background-color: #0b0d17;
    height: 200px;
}
.last-part{
    text-align: center;
    padding-top: 30px;
    color: white;
}







@media screen and (max-width:568px){


 h1{
     font-size: 20px;
 }
 .mission-2022{
     flex-direction: column;
 }
 .first-section img{
     width: 40vh;
 }
 .girl-projects{
     width: 80vh;
    flex-direction: column;
    }
    .girls-img img{
        width: 40vh;
    }
    .button{
       padding: 10px;
    }

    
}
