body{
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{
    font-size:50px ;
}
.using-border{
       
    
    border-left: 4px solid rgba(243, 0, 49, 0.425);

  
    border-radius:2px;
   
}
.header{

    color:rgb(255, 127, 80);


}
.mission-2022{
    display:flex;
    padding: 10px;
    margin-bottom: 50px;
    
    
}
.first-section{
    width: 60%;
    margin: 5% 10%;
    
    
    
    
}

.first-section img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color:#ff5959;
    padding: 10px 60px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-size: 50px;
    

    
}
.button-div{
    padding-top:20px ;
}

.mission{
    background-color:#edf5f6;
    border-radius: 10px;
    padding: 30px;
    

}
.vission{
    background-color:#ffeeee;
    border-radius: 10px;
    padding: 30px;
    

}
.goals{
    background-color: #fff4d6;
    border-radius: 10px;
    padding: 30px;
    
}
.projects{
    
    display: flex;
    margin-bottom: 50px;
    margin-left: 100px;

    background-image:url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    
    background-position: left;


}

    

.coding-project{
    margin-right: 210px;

}
.group-projects{
    display: flex;
}
footer{
  
    background-color: #0b0d17;
    height: 200px;
}
.last-part{
    text-align: center;
    padding-top: 30px;
    color: white;
}